<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BilStudy.Main"
        tools:targetApi="31">
        <activity
            android:name=".PomodoroCountdownActivity"
            android:exported="false" />
        <activity
            android:name=".MindMapActivity"
            android:exported="false" />
        <activity
            android:name=".NotesTakerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddOptionActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".LeitnerHomeActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Leitner" />
        <activity
            android:name=".LeitnerBoxActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Leitner" />
        <activity
            android:name=".LeitnerFolderActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Leitner" />
        <activity
            android:name=".QuestionnaireActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".QuestionnaireResultsActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".ShopActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".PomodoroOptionsActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".CalendarActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".StudyHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".StudyStatisticsActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".PreviousNotesActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".ChooseTemplateActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".ToDoListActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".MindMapTemplatesActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />
        <activity
            android:name=".BlankPageActivity"
            android:exported="true"
            android:theme="@style/Theme.BilStudy.Main" />

        <receiver android:name=".utils.BilStudyBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>



    </application>

</manifest>